.card {
      margin: 30px 30% 0 30%;
      gap: 15px;
      padding: 50px 0;
      span {
            text-align: left;
            margin: -10px 0;
            font-size: 10px;
            color: #ff0000;
      }
}
.input {
      width: 60%;
}
.containerBtn {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 30px;
}
