.input {
      width: 100%;
      flex: 1;
      flex-grow: 1;
      height: 100%;
      outline-style: none;
      text-align: left;
      padding: 0.5rem;
      border: 1px solid #36d2aa;
      font-size: 14px;
      border-radius: 5px;
      background-color: transparent;
      line-height: 15px;
}
